CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv7=y
CONFIG_TARGET_rockchip_armv7_DEVICE_rk3229-evb=y
# Nonaktifkan armv8 jika ada
CONFIG_TARGET_rockchip_armv8=n

CONFIG_KERNEL_PATCHVER="6.6"
CONFIG_LINUX_6_6=y

CONFIG_DEFAULT_PACKAGES_base-files=y
CONFIG_DEFAULT_PACKAGES_libc=y
CONFIG_DEFAULT_PACKAGES_libgcc=y
CONFIG_DEFAULT_PACKAGES_dropbear=y
CONFIG_DEFAULT_PACKAGES_busybox=y
CONFIG_DEFAULT_PACKAGES_network=y
CONFIG_DEFAULT_PACKAGES_opkg=y
CONFIG_DEFAULT_PACKAGES_kmod-button-hotplug=y
CONFIG_DEFAULT_PACKAGES_kmod-leds-gpio=y
CONFIG_DEFAULT_PACKAGES_kmod-usb-core=y
CONFIG_DEFAULT_PACKAGES_kmod-usb2=y
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-proto-ipv6=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_kmod-mac80211=y
CONFIG_PACKAGE_ssv6x5x-firmware=y
CONFIG_PACKAGE_firmware-ssv6158=y
